### Importing modules

In [2]:
import pandas as pd
import numpy as np 
from datetime import datetime
from google_play_scraper import reviews_all , Sort, app, reviews

print("Sucess!!")

Sucess!!

### Fetching Zomato Data

In [ ]:
app_id = "com.application.zomato"   # Zomato app ID
start_date = datetime(2025, 9, 1)

end_date = datetime(2025, 9, 30)

all_reviews = []
token = None

# --- Scrape in batches ---
while True:
    batch, token = reviews(
        app_id,
        lang="en",              # Language
        country="in",           # Store country
        sort=Sort.NEWEST,       # Newest first
        count=100,              # Batch size
        continuation_token=token
    )


    if not batch:  # No more reviews
        break

    for r in batch:
        r_date = r["at"].date()
        if start_date.date() <= r_date <= end_date.date():
            all_reviews.append({
                "date": r["at"].strftime("%Y-%m-%d"),
                "user_name": r["userName"],
                "review": r["content"],
                "score": r["score"],
                "app_version": r["reviewCreatedVersion"],

            })
        elif r_date < start_date.date():
            # Already reached older reviews 
            token = None
            break

    if token is None:
        break

zomato_final_df = pd.json_normalize(all_reviews)

In [ ]:
zomato_final_df

,date,user_name,review,score,app_version
0,2025-09-30,Shikha Awasthi,they are thieves. I placed an order today with...,1,19.1.7
1,2025-09-30,Karan Shaw,nice app good service,5,19.1.8
2,2025-09-30,Vaghela Virendra sinh 17,üëçüëç,5,19.1.7
3,2025-09-30,Vikranth Jadhav,excellent,4,19.1.8
4,2025-09-30,Endless Mintu,Zomato is a good app and food gets delivered q...,5,19.1.8
...,...,...,...,...,...
25486,2025-09-01,Kushal Mahindar,good,5,19.1.2
25487,2025-09-01,Manish paul,easy to use & genuine stores are here.. custom...,5,19.1.2
25488,2025-09-01,Stuti Arya,it's good,5,19.1.0
25489,2025-09-01,Maniparna Bhatt,good,5,19.1.2
25490,2025-09-01,Moshina Fatima,it's too good but yes.... delivery charges and...,5,19.1.0

### Fetching Swiggy Data

In [10]:
app_id = "in.swiggy.android"   # Swiggy app ID

start_date = datetime(2025, 9, 1)
end_date = datetime(2025, 9, 30)

all_reviews = []
token = None

# --- Scrape in batches ---
while True:
    batch, token = reviews(
        app_id,
        lang="en",              # Language
        country="in",           # Store country
        sort=Sort.NEWEST,       # Newest first
        count=100,              # Batch size
        continuation_token=token
    )


    if not batch:  # No more reviews
        break

    for r in batch:
        r_date = r["at"].date()
        if start_date.date() <= r_date <= end_date.date():
            all_reviews.append({
                "date": r["at"].strftime("%Y-%m-%d"),
                "user_name": r["userName"],
                "review": r["content"],
                "score": r["score"],
                "app_version": r["reviewCreatedVersion"],

            })
        elif r_date < start_date.date():
            # Already reached older reviews 
            token = None
            break

    if token is None:
        break

swiggy_final_df = pd.json_normalize(all_reviews)

In [11]:
swiggy_final_df

,date,user_name,review,score,app_version
0,2025-09-30,Prakash Ahir,I used one black one for almost a year. But th...,1,4.92.0
1,2025-09-30,Reshek Gowda,worst customer support experience and also foo...,1,4.92.0
2,2025-09-30,Indrani Dey,customer service system is worst in this app a...,1,4.92.0
3,2025-09-30,Kalyani Kalyani,superb,5,4.92.0
4,2025-09-30,Radhika Gupta,literally the worst app I have ever used I ord...,1,4.91.1
...,...,...,...,...,...
17865,2025-09-01,Anup Nair,"Swiggy Bolt promised 15-min delivery, but afte...",1,4.89.0
17866,2025-09-01,Dr. Somraj Podder,there is no option to chat with customer suppo...,2,4.78.2
17867,2025-09-01,Jordan,Enforce standard units of quanitites for all f...,2,4.89.0
17868,2025-09-01,Manish Tiwari,Good üòä,1,4.89.0
17869,2025-09-01,sultan ali khan,‡§Ü‡§ß‡§æ ‡§ò‡§Ç‡§ü‡§æ hogya abhi tak delevery boy pickup ‡§®‡§π...,1,4.89.0

In [ ]:
zomato_final_df.to_csv('zomato_data.csv', index=False)
swiggy_final_df.to_csv('swiggy_data.csv', index=False)

NameError: name 'zomato_final_df' is not defined